
main {
  height: 600px;
  width: 90%;
  margin-bottom: 15%;
  margin-left: 4%;
}

h2 {
  position: absolute;
  text-align: center;
  margin: 0 0 0 20%;
}

.description {
  position: absolute;
  margin: 0;
  height: 180px;
  width: 60%;
  padding: 30px 0 0 0;
  overflow-y: scroll;
}

.title {
  padding: 0 0 0 3%;
}

.holding-box {
  height: 220px;
}

.artist-picture {
  height: 200px;
  width: 190px;
  float: left;
  border: 1px solid rgb(91, 93, 94);
  margin-left: 3%;
}

.artist-info {
  text-align: center;
  /*border: 2px solid white;*/
  /*background-color: white;*/
  display: inline-flex;;
  float: left;
  height: 80%;
  width: 70%;
  /*color: black;*/
  margin-left: 3%;
  margin-top: 1%;
  overflow-y: scroll;
}

.artist-music {
  text-align: center;
  /*border: 2px solid white;*/
  display: inline;
  float: left;
  height: 50px;
  width: 70%;
  margin-left: 3%;
  margin-top: 1%;
}
