main {
  height: 600px;
  width: 100%;
  margin-bottom: 3%;
}

section {
  float: right;
  height: 600px;
  width: 70%;
  margin-top: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  margin-left: 10%;
}

ul {
  text-align: left;;
}

p {
  text-align: center;
}

table {
  font-family: ;
}

.calendar-day {
  width: 100px;
  height: 45px;
}

tr {
  height: 60px;
  width: 960px;
}

.calBlock{
  /*float: right;*/
  position: absolute;
  right: 50px;
  font-size: 18px;
}
.calContainer {
  /*float: left;*/
  width: 810px;
  height: 610px;
  margin: auto;
  padding: 0px;
  /*border: 1px solid royalblue;*/
}

.eventList {
  text-align: left;
}

.upcoming-events {
  position: absolute;
  left: auto;
}

#calList {
  color: whitesmoke;
  /*border: 2px solid black;*/
  float: left;
  height: 500px;
}
#calTitle {
  text-align: center;
  display: block;
  margin: auto;
}

#calBox {
  width: 100%;
  height: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  /*background-color: rgba(14, 14, 14, 0.9);*/
}

#calAll {
}
