body {
  background-color: black;//this is a placeholder. I know the site will be dark. I'm just trying not to make anything that sticks out too much./
}

main {
  border: 2px solid black;
  height: 600px;
  width: auto;
  margin-bottom: 3%;
}

section {
  border: 2px solid black;
  float: right;
  height: 600px;
  width: 70%;
  margin-bottom: 15%;
  margin-left: 4%;
}

footer {
  border: 2px solid black;
  background-color: rgb(42, 92, 179);
  position: fixed;
  bottom: 0;
  width: 100%;
}

ul {
  text-align: center;
}

li {
  display: inline;
}

p {
  text-align: center;
}

iframe {
  background-color:orange; }

.calBlock{
  color: white;
  background-color: black;
}
.calContainer {
  float: left;
  width: auto;
  height: auto;
}

#calList {
  color: whitesmoke;
  border: 2px solid black;
  float: left;
  height: 500px;
}
