main {
  border: 2px solid black;
  min-height: 100%;
  height: auto;
  width: auto;
  margin: 0 auto -51px;
}

p {
  text-align: center;
}

li, ul {
  display: list-item;
  text-align: left;
  list-style-type: none;
}

ul {
  text-align: center;
}

input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid blue;
}

/*This centers the element in the middle of viewport.
Solution found at https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/*/
.overlay {
  background-color: rgba(1, 7, 60, 0.85);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 100px;
  border: 1px solid rgb(91, 93, 94);
}

.push {
  height: 51px;
}
