main {
  border: 2px solid black;
  height: 600px;
  width: auto;
  margin-bottom: 5%;
  overflow-y: auto;
}

li, ul {
  display: list-item;
  text-align: left;
  list-style-type: none;
}

ul {
  text-align: center;
}

input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid blue;
}

.content {
  background-color: rgba(14, 14, 14, 0.7);
}
