
main {
  border: 2px solid red;
  height: 700px;
  width: auto;
  margin-bottom: 3%;
}

section {
  border: 2px solid white;
  height: 100px;
  width: 90%;
  margin-bottom: 7%;
  margin-left: 4%;
}

ul {
  text-align: center;

}

li {
  display: inline;
}

p {
  text-align: center;
  position: absolute;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  width: auto;
  height: 500px;
  margin-bottom: 5%;
}

.active {
  background-color: #717171;
}
/*image conatiner*/

.mySlides {
  width: auto;
  height: auto;
}

.slideshow {
  width: auto;
  height: auto;
  margin-left: 0;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
