main {
  height: 600px;
  width: 90%;
  margin-bottom: 15%;
  margin-left: 4%;
}

.content-box {
  height: 200px;
  width: 80%;
  /*border: 2px solid white;*/
  margin-left: 10%;
}

.dev-picture {
  height: 170px;
  width: 170px;
  float: left;
  border: 1px solid rgb(91, 93, 94);
  border-radius: 200px;
  margin-left: 3%;
  margin-top: 1.25%;
}

.dev-box {
  /*text-align: center;*/
  border: 1px solid rgb(91, 93, 94);
  background-color: rgba(14, 14, 14, 0.80);
  float: left;
  height: 83%;
  width: 70%;
  margin-left: 3%;
  margin-top: 1.25%;
  overflow-y: scroll;
}

h2 {
  float: left;
  font-size: 30px;
  margin-left: 2%;
  margin-right: 2%;
  height: 15px;
  width: 180px;
}

.dev-info {
  font-size: 21px;
  margin-left: 2%;
}

#blank-space {
  height: 100px;
}
